@import-normalize;
/* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/bgr-book-contacts.jpg);

}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





p {
  margin: 0;
}

.main {
  margin: 0 auto;
  max-width: 1280px;
  box-shadow: 0px -11px 10px 1px rgba(0, 0, 0, 0.75);
}